In [2]:
# importing necessary libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
# importing csv file
df = pd.read_excel("/content/drive/MyDrive/Vaccine-history-dataset/accuracynew-dataset.xlsx")
df

         Total symptom  VAX_MANU  AGE_YRS  gender  sym text  recover  history
0                    2         1     33.0       1         1        1        1
1                    2         1     73.0       1         1        1        1
2                    4         2     23.0       1         1        0        1
3                    3         1     58.0       1         1        1        1
4                    4         1     47.0       1         1        0        0
...                ...       ...      ...     ...       ...      ...      ...
1048570              0         0      0.0       2         0        0        0
1048571              0         0      0.0       2         0        0        0
1048572              0         0      0.0       2         0        0        0
1048573              0         0      0.0       2         0        0        0
1048574              0         0      0.0       2         0        0        0

[1048575 rows x 7 columns]

In [4]:
# displaying columns of csv file, as they must be unique we can number them.
df.columns

Index(['Total symptom', 'VAX_MANU', 'AGE_YRS', 'gender', 'sym text', 'recover',
       'history'],
      dtype='object')

In [5]:
# spitting features and target variable as X and y respectively.
X = df.iloc[:,:-1]
y = df['history']

In [12]:
# splitting data into train and test features.
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.4,random_state = 0)
print("X_train shape : " ,X_train.shape)
print("y_train shape : " ,y_train.shape)
print("X_test shape : " ,X_test.shape)
print("y_train shape : " ,y_test.shape)

X_train shape :  (629145, 6)
y_train shape :  (629145,)
X_test shape :  (419430, 6)
y_train shape :  (419430,)

In [13]:
# importing decision tree classifier model

from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier()
model1.fit(X_train,y_train)

DecisionTreeClassifier()

In [14]:
# importing metrics for evaluating accuracy of the model

from sklearn import metrics 
pred1 = model1.predict(X_test)
print(metrics.accuracy_score(y_test,pred1)*100,"percentage")

74.36377941492024 percentage

In [10]:
# importing random tree classifier model

from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(n_estimators = 1)
model2.fit(X_train,y_train)

RandomForestClassifier(n_estimators=1)

In [11]:
# importing metrics for evaluating accuracy of the model

pred2 = model2.predict(X_test)
print(metrics.accuracy_score(y_test,pred2)*100,"percentage")

74.3108504398827 percentage